
<mat-grid-list cols="4" rowHeight="2:1">

 <mat-grid-tile  [colspan]="2" [rowspan]="1">

   <mat-card class="comp-detail" *ngIf="component != undefined">
     <mat-card-header>
       <mat-card-title>{{component.id}}</mat-card-title>
       <mat-card-subtitle>{{component.id}}</mat-card-subtitle>
     </mat-card-header>
   </mat-card>

 </mat-grid-tile>

  <mat-grid-tile  [colspan]="2" [rowspan]="1">

    <mat-card class="comp-detail" *ngIf="component != undefined">
      <mat-card-header>
        <mat-card-title>{{component.id}}</mat-card-title>
        <mat-card-subtitle>{{component.id}}</mat-card-subtitle>
      </mat-card-header>
    </mat-card>

  </mat-grid-tile>
  <mat-grid-tile  [colspan]="2" [rowspan]="1">

    <mat-card class="comp-detail" *ngIf="component != undefined">
      <mat-card-header>
        <mat-card-title>{{component.id}}</mat-card-title>
        <mat-card-subtitle>{{component.id}}</mat-card-subtitle>
      </mat-card-header>
    </mat-card>

  </mat-grid-tile>
  <mat-grid-tile  [colspan]="2" [rowspan]="1">

    <mat-card class="comp-detail" *ngIf="component != undefined">
      <mat-card-header>
        <mat-card-title>{{component.id}}</mat-card-title>
        <mat-card-subtitle>{{component.id}}</mat-card-subtitle>
      </mat-card-header>
    </mat-card>

  </mat-grid-tile>

  <mat-grid-tile  [colspan]="4" [rowspan]="2">

    <mat-card class="comp-detail" *ngIf="component != undefined">
      <mat-card-header>
        <mat-card-title>{{component.id}}</mat-card-title>
        <mat-card-subtitle>{{component.id}}</mat-card-subtitle>
      </mat-card-header>
    </mat-card>

  </mat-grid-tile>

</mat-grid-list>



